1) What are the types of Applications?

ANSWER 1 -:

[TYPES OF APPLICATIONS IN PYTHON](https://www.python.org/about/apps/) ::

In Python, there are plenty of types of applications namely

**Web and Internet Development** : Python offers many choices for web development:

1. Frameworks such as Django and Pyramid.
2. Micro-frameworks such as Flask and Bottle.
3. Advanced content management systems such as Plone and django CMS.

**Scientific and Numeric** : Python is widely used in scientific and numeric computing:

1. SciPy is a collection of packages for mathematics, science, and engineering.
2. Pandas is a data analysis and modeling library.
3. NumPy is used to perform complex and lengthy mathematical calculations in seconds.
4. MatPlotLib and Seaborn are used for visualizing data in interactive way.
5. IPython is a powerful interactive shell that features easy editing and recording of a work session, and supports visualizations and parallel computing.
6. The Software Carpentry Course teaches basic skills for scientific computing, running bootcamps and providing open-access teaching materials.

**Education** : Python is a superb language for teaching programming, both at the introductory level and in more advanced courses.

**Software Development** : Python is often used as a support language for software developers, for build control and management, testing, and in many other ways.

**Business Applications** : Python is also used to build ERP and e-commerce systems:

1. Odoo is an all-in-one management software that offers a range of business applications that form a complete suite of enterprise management applications.
2. Tryton is a three-tier high-level general purpose application platform.


[TYPES OF APPLICATIONS IN GENERAL](https://rb.gy/61jjy5) ::

The types of Software applications are list below :

1. Web Applications
2. Mobile Applications
3. Desktop Applications
4. Enterprise Applications
5. Cloud Applications
6. Other Software Applications

2) What is programing?

ANSWER 2 -:

The programming is the process of using coding languages to solve complex programs by assigning tasks to the computer.

3) What is Python?

ANSWER 3 -:

▶ PYTHON is the type of a high-level interpretor. This language scans the code and display errors line-by-line.

▶ It's used for translating codes. It was created by Guido van Rossum, and released in 1991.

▶ It contains various elements that make the complex and lengthy tasks to be done within seconds.

▶ The libraries of Python helps the user perform difficult calculations, visualize data and even draw insights from the workbooks.


4) Write a Python program to check if a number is positive, negative or zero.

In [ ]:
#ANSWER 4 -:

user_input = int(input("Enter a Number : "))

if user_input > 0 :                           #Checking for the positve number
  print("The Number is a positive integer")

elif user_input < 0 :                           #Checking for the negative number
  print("The Input is a negative number")

else :
  print("The input is ZERO")

Enter a Number : 0000
The input is ZERO


5) Write a Python program to get the Factorial number of given numbers.

In [ ]:
#ANSWER 5 -:

j = int(input("Enter a number here : "))          #Taking the input from user
i = j
factorial = 1

while i > 1 :                           #Iterating through the input to check for factorial
    factorial *= i
    i -= 1
print("The factorial of number is ", factorial)

Enter a number here : 1298
The factorial of number is  187097709594146813833954925639463419664515773785986917621757408483426667166909379339462331003388945523214961648510961090112220306613355694957770918671850553022593315588835130394253118660974148016494181317245197711615402201209496729399859472351985910790851456491410910669546510181777591032911103818513359448364662754465371766170383805580624866730595149970987679366702285234527893400153607382695563656010225755943854969098278144273490086217230491028509913087047386224707000581143271807968323602485523174294723240552092549112924795331836805618219090196516096560108258855119977824181331952654975674157109899665150946774385959857907888795597399183617916639457078824120358253472510593742684024818200799446222575681312041743067140299094646015262866942333354063284866393478017518521136724162464156894216411925318199188356529864557874345176567137957745864415845938408533080222335352192197124561279209233042419964551867079966143391611554042831859529406213625773119808417002361195412341985158374455900686493488647522843395490798275868676898238235553070373454759365848267669551681877947244924935096673642750681131765041341179350684525046773117159170319851025013193540341209422665423491247079000444061324427217225187763064643837742307503080980640498511434169462536879268831193441168968137511913468950826042402754557176656815890504475250065623027692236945424777613638037534769559627619701843979483548963848705042917322645612893258345671055408317537280611159462382544192433531060033564878248290663818067481577687773199139087216043656044995666461321068417299790562090932734148545468072124689211139695706110054367251727791571510023310912814175179377873106692170817468195434672797021168355158639859931991974732980681992792801971704611853389042321394345718182650760901729068902994885664411601144491493307360455883193025340830914248032968475200493970413695654816321308476815524460923739391336016786175999372874205171449311548884330349873785544589286832307301536367055261015778840219809855141250480721395937027625529444487977053709472865900246868136862467559609499136054613237257218640671633760250935629357410206003557189366683263244174300236444612399990219754782566533138074989416009424542687602561018325389240484119663128357083917320244434082669418025909808080350848094149269533243475301501016229043946612839496899569680769010730284247910420002844457305294857542015262223336834099009846521648138225735217994690992750437664164334594774016868451776695114936286242687141575242766010777958329080300375223025498182036930050608147714854541729129519126116763540556855993558891702820300809350377430633008612051973924936651263714762532228146457630069578144430310846573976826041552225327278187435072873597669802680980820703126871741086640631959196987057418806141067203310489315217690108573043329286960242582881757003679363788433854974891516430300204650102163601934526748551870048771736756413792522210800466731261482228567759300502844837565610687910932470024133775890961447666042247795316351848260573139632324799817972624766809492214407717434343827589365018878079416514287759759671109090468921590486366788316152661263426329157941601582657077408530243870509741330960294872205462869240709120000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

6) Write a Python program to get the Fibonacci series of given range.

In [146]:
#ANSWER 6

# OPTION 1 :

a=int(input("Enter number a : "))     #1st Number in series
b=int(input("Enter number b : "))     #2nd Number for series
r=int(input("Enter maximum items to display in the series :"))


for i in range(r):   #OR for i in range(n-2)
    c=a+b
    print(c)        #calculating the next number in the series by adding the first two input
    a=b           # assigning the value a to b and b to c,
    b=c           # to continue the series till the range is satisfied


# OPTION 2 :

num = int(input("Enter a num : "))

a, b = 0, 1      #assigning values to a and b to start fibonacci series

for i in range(num) :
  print (a, end=" ")
  a, b = b, a + b     #a1ssigning value of 'a' to b and 'b' to addition of the both numbers till the end of range


# OPTION 3 :
from sympy import fibonacci    #importing library to calcuate fibonnaci series without any code

n = int(input("Enter 3rd Input : "))

fibonacci(n)                   #give the final output as the sum if all the number in range

Enter number a : 123
Enter number b : 540
Enter maximum items to display in the series :90
663
1203
1866
3069
4935
8004
12939
20943
33882
54825
88707
143532
232239
375771
608010
983781
1591791
2575572
4167363
6742935
10910298
17653233
28563531
46216764
74780295
120997059
195777354
316774413
512551767
829326180
1341877947
2171204127
3513082074
5684286201
9197368275
14881654476
24079022751
38960677227
63039699978
102000377205
165040077183
267040454388
432080531571
699120985959
1131201517530
1830322503489
2961524021019
4791846524508
7753370545527
12545217070035
20298587615562
32843804685597
53142392301159
85986196986756
139128589287915
225114786274671
364243375562586
589358161837257
953601537399843
1542959699237100
2496561236636943
4039520935874043
6536082172510986
10575603108385029
17111685280896015
27687288389281044
44798973670177059
72486262059458103
117285235729635162
189771497789093265
307056733518728427
496828231307821692
803884964826550119
1300713196134371811
2104598160960921930
3405311357095293741
5509909518056215671
8915220875151509412
14425130393207725083
23340351268359234495
37765481661566959578
61105832929926194073
98871314591493153651
159977147521419347724
258848462112912501375
418825609634331849099
677674071747244350474
1096499681381576199573
1774173753128820550047
2870673434510396749620
Enter a num : 234
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101 927372692193078999176 1500520536206896083277 2427893228399975082453 3928413764606871165730 6356306993006846248183 10284720757613717413913 16641027750620563662096 26925748508234281076009 43566776258854844738105 70492524767089125814114 114059301025943970552219 184551825793033096366333 298611126818977066918552 483162952612010163284885 781774079430987230203437 1264937032042997393488322 2046711111473984623691759 3311648143516982017180081 5358359254990966640871840 8670007398507948658051921 14028366653498915298923761 22698374052006863956975682 36726740705505779255899443 59425114757512643212875125 96151855463018422468774568 155576970220531065681649693 251728825683549488150424261 407305795904080553832073954 659034621587630041982498215 1066340417491710595814572169 1725375039079340637797070384 2791715456571051233611642553 4517090495650391871408712937 7308805952221443105020355490 11825896447871834976429068427 19134702400093278081449423917 30960598847965113057878492344 50095301248058391139327916261 81055900096023504197206408605 131151201344081895336534324866 212207101440105399533740733471 343358302784187294870275058337 555565404224292694404015791808 898923707008479989274290850145 1454489111232772683678306641953 2353412818241252672952597492098 3807901929474025356630904134051 6161314747715278029583501626149 9969216677189303386214405760200 16130531424904581415797907386349 26099748102093884802012313146549 42230279526998466217810220532898 68330027629092351019822533679447 110560307156090817237632754212345 178890334785183168257455287891792 289450641941273985495088042104137 468340976726457153752543329995929 757791618667731139247631372100066 1226132595394188293000174702095995 1983924214061919432247806074196061 3210056809456107725247980776292056 5193981023518027157495786850488117 8404037832974134882743767626780173 13598018856492162040239554477268290 22002056689466296922983322104048463 35600075545958458963222876581316753 57602132235424755886206198685365216 93202207781383214849429075266681969 150804340016807970735635273952047185 244006547798191185585064349218729154 394810887814999156320699623170776339 638817435613190341905763972389505493 1033628323428189498226463595560281832 1672445759041379840132227567949787325 2706074082469569338358691163510069157 4378519841510949178490918731459856482 7084593923980518516849609894969925639 11463113765491467695340528626429782121 18547707689471986212190138521399707760 30010821454963453907530667147829489881 48558529144435440119720805669229197641 78569350599398894027251472817058687522 127127879743834334146972278486287885163 205697230343233228174223751303346572685 332825110087067562321196029789634457848 538522340430300790495419781092981030533 871347450517368352816615810882615488381 1409869790947669143312035591975596518914 2281217241465037496128651402858212007295 3691087032412706639440686994833808526209 5972304273877744135569338397692020533504 9663391306290450775010025392525829059713 15635695580168194910579363790217849593217 25299086886458645685589389182743678652930 40934782466626840596168752972961528246147 66233869353085486281758142155705206899077 107168651819712326877926895128666735145224 173402521172797813159685037284371942044301 280571172992510140037611932413038677189525 453973694165307953197296969697410619233826 734544867157818093234908902110449296423351 1188518561323126046432205871807859915657177 1923063428480944139667114773918309212080528 3111581989804070186099320645726169127737705 5034645418285014325766435419644478339818233 8146227408089084511865756065370647467555938 13180872826374098837632191485015125807374171 21327100234463183349497947550385773274930109 34507973060837282187130139035400899082304280 55835073295300465536628086585786672357234389 90343046356137747723758225621187571439538669 146178119651438213260386312206974243796773058 236521166007575960984144537828161815236311727 382699285659014174244530850035136059033084785 619220451666590135228675387863297874269396512 1001919737325604309473206237898433933302481297 1621140188992194444701881625761731807571877809 2623059926317798754175087863660165740874359106 4244200115309993198876969489421897548446236915 6867260041627791953052057353082063289320596021 11111460156937785151929026842503960837766832936 17978720198565577104981084195586024127087428957 29090180355503362256910111038089984964854261893 47068900554068939361891195233676009091941690850 76159080909572301618801306271765994056795952743 123227981463641240980692501505442003148737643593 199387062373213542599493807777207997205533596336 322615043836854783580186309282650000354271239929 522002106210068326179680117059857997559804836265 844617150046923109759866426342507997914076076194 1366619256256991435939546543402365995473880912459 2211236406303914545699412969744873993387956988653 Enter 3rd Input : 501

225591516161936330872512695036072072046011324913758190588638866418474627738686883405015987052796968498626

7) How memory is managed in Python?

ANSWER 7 -:

- In Python, memory management is automatic, it involves handling a private heap that contains all Python objects and data structures.
- The Python memory manager internally ensures the efficient allocation and deallocation of this memory.
- Python's memory management is performed through various mechanisms, including garbage collection, reference counting, and how variables are stored on the stack and heap.
- **Private Heap** : Acts as the main storage for all Python objects and data. It is managed internally by the Python memory manager.
- **Raw Memory Allocator** : This low-level component directly interacts with the operating system to reserve memory space in Python's private heap. It ensures there's enough room for Python's data structures and objects.
- **Object-Specific Allocators** : On top of the raw memory allocator, several object-specific allocators manage memory for different types of objects, such as integers, strings, tuples, and dictionaries.

[Reference Source](https://www.tutorialspoint.com/python/python_memory_management.html)

8) What is the purpose continuing statement in python?

ANSWER 8 -:

The "**CONTINUE**" in a program is used when the iteration needs to continue till the end even if the condition is fulfilled in initial statements only.
Or even if the code needs to continue running after encountering a false output.

9) Write python program that swap two number with temp variable and without temp variable.

In [147]:
#ANSWER 9 -:

#WITH USING TEMPORARY VARIABLES
v1 = 99
v2 = 18

t1 = v2  #using temporary variable to swap two numbers
t2 = v1


print("1st Option - The swapped number with using temporary variable are", t1, "and" ,t2)


#WITHOUT USING TEMPORARY VARIABLES
var1 = 5
var2 = 9

var1, var2 = var2, var1   #swapping using only the parent variables

print("2nd Option - The swapped number without using temporary variable are", var1, "and" ,var2)

1st Option - The swapped number with using temporary variable are 18 and 99
2nd Option - The swapped number without using temporary variable are 9 and 5


10) Write a Python program to find whether a given number is even or odd, print out an appropriate message to the user.

In [154]:
#ANSWER 10 -:

number = int(input("Enter a number here : "))      #taking user input

if number > 0 :       #checking for the even or odd number
    if number %2 == 0 :
        print("The input is an even number")
    else :
        print("The input is an odd number")

elif number < 0 :       #checking for the positive or negative number
    if number %2 == 0 :
        print("The input is a negative even number")
    else :
        print("The input is a negative odd number")

else :       #output if input is ZERO and type, even if the negative zero is provided as input
    if number == 0 :
        print("ZERO! Still an even number")

Enter a number here : 12
The input is an even number

11) Write a Python program to test whether a passed letter is a vowel or not.

In [194]:
#ANSWER 11 -:

# 1st OPTION #
entry = input("Enter any letter below :\n")         #taking user input
vowels = ["a","e","i","o","u","A","E","I","O","U"]         #making list if all vowels upper-lower case

if entry in vowels and len(entry) == 1 :
    print("The letter is in fact a vowel")         #Checking for a vowel from the list
elif len(entry) > 1 :
  print("Try Again, and enter only one letter")
else :                                        #printing statement if not vowel
  print("The vowel is a consonant")


# 2nd OPTION #
l = str(input("Enter a letter : "))         #taking user input

if (l=='a' or  l=='e' or l=='i' or l=='o' or l=='u' or l=="A" or l=='E' or l=='I' or l=='O' or l=="U") and len(l) == 1 :         #checking for a vowel in input
  print ("Letter is a vowel")
elif len(l) > 1 :
  print("Try Again, and enter only one letter")
elif l.isnumeric() :             #checking for numeric input
  print ("Input is an integer")
elif not l.isalpha() and not l.isnumeric() :              #checking for special characters
  print("The input has special characters")             #2nd option -: elif not l.isalnum() :
else :
  print ("Letter is a consonant")

# 3rd Option #

letter = input("Enter one letter here : ")

if len(letter) == 1 and l.isalpha() and letter.lower() in "aeiou" :
  print("The letter is vowel")
elif len(letter) == 1 and letter.isalpha() and letter.lower() not in 'aeiou':      #checking for consonant
  print ("Letter is a consonant")
elif len(letter) > 1 :
  print("Try Again, and enter only one letter")
elif letter.isnumeric() :             #checking for numeric input
  print ("Input is an integer")
elif not letter.isalpha() and not letter.isnumeric() :              #checking for special characters
  print("The input has special characters")             #2nd option -: elif not l.isalnum() :
else :
  print("I'm Lost Now.")


#Note ::
# 1st Option Drawback : The first method only check for the vowel in the string and doesn't check for any non-alphabetic input, considering every character except the list as consonant.
# 2nd Option Drawback : The second code checks for almost all the possibilities from the user except the alphabets. But when uppercase consonant is provided, it doesn't identifies
# it as a consonant, just count the lowercase as consonants.
# 3rd option will bypas the case-sensitivity and execute code without error and with true output displayed.

Enter any letter below :
q
The vowel is a consonant
Enter a letter : Q
Letter is a consonant
Enter one letter here : #
The input has special characters

12) Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [200]:
#ANSWER 12 -:

h = int(input("Enter the 1st integer : "))          #taking user input
i = int(input("Enter the 2nd integer : "))          #for
j = int(input("Enter the 3rd integer : "))          #three integers

if h != i and i != j and j != h :             #checking for unique integers
    sum = h + i + j
    print("The sum of integers is", sum)

else :
    if h == i or h == j or i == j :          #checking for two same integers
        print("The any two numbers are same and the sum is", 0)

Enter the 1st integer : 22
Enter the 2nd integer : 22
Enter the 3rd integer : 20
The any two numbers are same and the sum is 0

13) Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

In [199]:
#ANSWER 13 -:

n1 = int(input("1st Number : \n"))    #user input
n2 = int(input("2nd Number : \n"))    #user input

if n1 == n2 :              #checking if two integers are same
    print("The two integers are same so 'TruE'")

elif n1 != n2 :
    if n1 - n2 == 5 :          #checking if two integers have difference of 5
        print("The difference of two integers is 5 so 'TRUE'")
    elif n1 + n2 == 5 :         #checking if two integers have sum of 5
        print("Sum is 5 and that's 'T.R.U.E.'")
    else :
        print ("None of the conditions are True so , F A L S E")

1st Number :
2
2nd Number :
3
Sum is 5 and that's 'T.R.U.E.'

14) Write a python program to sum of the first n positive integers.

In [201]:
#ANSWER 14 -:

num = int(input("Enter a number : "))          #taking user input

sum = num * (num + 1)/2  #Applying the universal math formula to calculate the sum

print("The sum of positive integers for", num, "is", sum)


## Math Formula source : https://www.cuemath.com/sum-of-natural-numbers-formula/

Enter a number : 320
The sum of positive integers for 320 is 51360.0

15) Write a Python program to calculate the length of a string.

In [202]:
#ANWER 15 -:

length = input("Enter any string here : ")          #taking user input

print("The length of the input is :", len(length))      #calculating and printing the string length

Enter any string here : 123jayani1233
The length of the input is : 13

16) Write a Python program to count the number of characters (character frequency) in a string

In [207]:
string = "the beautiful world and a wonderul life"

char = input("Select a character from the given string : ")

char_freq = string.count(char)   #using string method to count given character frequency in the string

print("The character", "|", char, "|", "appears", char_freq, "times in the given string")

Select a character from the given string : life
The character | life | appears 1 times in the given string

17) What are negative indexes and why are they used?

ANSWER 17 -:

- The Negative Indexes are the positions of the data-structure starting from the end.
- They are used when the user needs the items from the
end of the data-structure where the length of the structure is unknown.

In [223]:
#ANSWER 17 -:

import random

#the given list has random values with 5000 elements
n_list = random.sample(range(10, 100000),5000)
print(n_list)

#All 5000 values are not visible in the output.
#So, if we want to find out the items from last 100, negative indices are used to avoid going through all the elements
n_index = n_list[-90]
n_index

[31236, 39740, 79692, 74871, 62671, 98849, 34470, 69381, 95571, 70286, 11080, 88880, 28250, 79222, 99077, 34754, 57602, 11345, 68294, 5566, 51609, 41680, 49178, 44392, 75565, 37581, 78480, 56886, 53336, 13580, 63912, 48253, 66588, 30089, 34131, 68025, 58497, 8675, 67931, 85813, 14114, 71129, 1592, 24760, 12861, 17869, 8445, 70697, 77988, 1588, 74259, 45736, 39918, 46953, 76063, 17264, 7431, 72993, 80219, 63310, 44409, 17678, 96294, 81197, 56014, 90360, 15596, 89146, 30816, 2300, 91955, 90616, 86280, 87611, 42199, 74715, 31819, 14688, 10834, 17972, 84848, 91565, 84666, 50240, 57274, 56492, 27795, 92647, 51033, 44600, 26372, 61261, 29770, 3808, 87999, 71934, 29039, 20742, 83582, 70033, 35884, 64433, 10700, 29950, 22464, 18389, 89878, 37308, 13653, 35164, 83804, 65717, 22230, 61475, 83567, 57505, 60039, 53611, 46649, 11714, 56498, 24631, 92817, 85705, 57906, 87388, 77807, 4684, 96537, 32000, 62918, 407, 3147, 70312, 6624, 41984, 98046, 31394, 96165, 22319, 80175, 52439, 94624, 59698, 32813, 31059, 55612, 39040, 73493, 53824, 26874, 84030, 26824, 84723, 49886, 52785, 37998, 48329, 56066, 64819, 22361, 67482, 11927, 27439, 43548, 81662, 92964, 77503, 45529, 58991, 56203, 76976, 54950, 15368, 98522, 74516, 70274, 52705, 38429, 20155, 9601, 18466, 29147, 26431, 16030, 79352, 17521, 20482, 39945, 47316, 43146, 24795, 51660, 63450, 15250, 65858, 80284, 9317, 92292, 89429, 1002, 69033, 49962, 59919, 8846, 55193, 32432, 25071, 3759, 3929, 11916, 79024, 96609, 2686, 52563, 53799, 35205, 53941, 50380, 983, 48769, 14125, 13965, 96919, 84793, 84826, 96974, 24802, 54092, 84701, 79913, 1863, 9980, 5034, 70994, 62156, 18436, 55509, 32187, 25917, 47327, 91924, 97822, 70154, 99480, 55317, 97227, 50796, 40489, 36596, 78294, 21232, 79863, 3466, 30495, 95604, 8512, 96968, 33590, 84133, 90986, 54523, 10728, 63787, 95458, 51385, 40633, 8738, 14996, 26585, 40719, 65904, 26126, 27372, 6566, 58494, 5770, 2981, 89024, 32903, 84193, 72562, 76164, 64658, 46016, 94461, 79622, 36740, 37616, 47742, 45445, 60949, 24208, 49021, 62108, 5594, 26181, 35171, 12014, 19356, 21129, 41204, 94003, 93614, 94386, 63670, 58837, 85029, 16037, 73032, 64568, 38914, 25019, 55958, 33613, 47048, 88930, 83119, 35427, 92960, 27046, 15769, 63923, 98917, 34456, 82561, 38654, 49755, 64748, 54545, 19478, 14124, 14140, 98794, 58496, 95261, 60773, 19870, 82157, 90309, 29952, 17214, 59059, 88576, 64952, 1965, 78187, 15885, 18926, 74146, 53709, 64164, 46398, 96250, 78848, 65202, 44013, 64662, 29023, 28082, 17161, 24148, 23464, 19037, 61079, 98444, 61567, 36739, 40100, 52148, 1976, 363, 89572, 13875, 16968, 70283, 27326, 11812, 33088, 41845, 23015, 23748, 53183, 42281, 18369, 89668, 44222, 29844, 8996, 46877, 21368, 16832, 4089, 30141, 3366, 98166, 72972, 59673, 5656, 24913, 63063, 18041, 15530, 27911, 54987, 78871, 80321, 70445, 57746, 47062, 65376, 35114, 12781, 54790, 52239, 12149, 25418, 57508, 40595, 32849, 64830, 8175, 35819, 40334, 56487, 67935, 60138, 2820, 19978, 22653, 20807, 8515, 32399, 44227, 96286, 19007, 90200, 67579, 29899, 62827, 2851, 81344, 52882, 17712, 30446, 33334, 84760, 33973, 55272, 88420, 12256, 59534, 23560, 79253, 29810, 79806, 85506, 48189, 34598, 7869, 75296, 15452, 62268, 22555, 20595, 32195, 8468, 27942, 4326, 28338, 94508, 75599, 36879, 32876, 1484, 85167, 29887, 34576, 71206, 11046, 5879, 54265, 7444, 54343, 47459, 77857, 37590, 77388, 30638, 47725, 20940, 92263, 35120, 97754, 72025, 38994, 89483, 78704, 23818, 48303, 22800, 33609, 94580, 54176, 80894, 43399, 73682, 19624, 25773, 82379, 6401, 86344, 43647, 28827, 28016, 79282, 17230, 39874, 28917, 30442, 27407, 31477, 82119, 16537, 67722, 22663, 64845, 28748, 72277, 97317, 47488, 93622, 55353, 50980, 15988, 28656, 39671, 13922, 74507, 85589, 21204, 88108, 40234, 45956, 90145, 20748, 89592, 76563, 34568, 23236, 8975, 10854, 84835, 36021, 19638, 61445, 63267, 96875, 55342, 40018, 52021, 41854, 43717, 27335, 52491, 57575, 43991, 89807, 38197, 82956, 93909, 58839, 65994, 31238, 11096, 44462, 74019, 31187, 62163, 78413, 42284, 23069, 26699, 96682, 52377, 8077, 45714, 59892, 46469, 61013, 4973, 27461, 36637, 62103, 7285, 64552, 72832, 32144, 43279, 84164, 53951, 7561, 39765, 56996, 50722, 80499, 81138, 17550, 90272, 86106, 9326, 85230, 86080, 81642, 55022, 31706, 49422, 14717, 15234, 11371, 11324, 46533, 25404, 28897, 97057, 48653, 97361, 39618, 39563, 66321, 21757, 20398, 87547, 29347, 17584, 97280, 12487, 37878, 50491, 4251, 92743, 59680, 47858, 79130, 47655, 15671, 45362, 56318, 80098, 21345, 15763, 42018, 11492, 21454, 29901, 67688, 19653, 89883, 38786, 21075, 71009, 25742, 15142, 76529, 6211, 28027, 61639, 38433, 1728, 43555, 99002, 88989, 69704, 74319, 98631, 45886, 41651, 25106, 64368, 81942, 40145, 46141, 35147, 8749, 51219, 80528, 20889, 75360, 54708, 28099, 35689, 58546, 30507, 52031, 73305, 63866, 16854, 11966, 7038, 30616, 53339, 93532, 91534, 52854, 55880, 7304, 71768, 2963, 26464, 35210, 34031, 82562, 83089, 94144, 80093, 79727, 6483, 97690, 56015, 67192, 94708, 24253, 69112, 44217, 36814, 20908, 63297, 38407, 84246, 24909, 87417, 56960, 23166, 77277, 7762, 18569, 12418, 72405, 64876, 9585, 65421, 27779, 51324, 33688, 85940, 42967, 22395, 49765, 64069, 93796, 34803, 41301, 71980, 68848, 88993, 46194, 25358, 36889, 64131, 41994, 25591, 51559, 20489, 63434, 67707, 76585, 94138, 4837, 22664, 71227, 83839, 46094, 24822, 8273, 74016, 60066, 83046, 84308, 97079, 22184, 88899, 27868, 60849, 32256, 24204, 61147, 39737, 95899, 20626, 3371, 36454, 68080, 18881, 17247, 10118, 90875, 99438, 29473, 47678, 38286, 11024, 24947, 41608, 61773, 8334, 30304, 42060, 89438, 99404, 32148, 17914, 71770, 34547, 89596, 36855, 74606, 87431, 33316, 84986, 16834, 31612, 79238, 63762, 82988, 12959, 50067, 7880, 16790, 34498, 62026, 77562, 98636, 45452, 75185, 67853, 33867, 66538, 78286, 27835, 27363, 6135, 98223, 20942, 1591, 37179, 63561, 85297, 79929, 41084, 92714, 43874, 12914, 67405, 10189, 46753, 89411, 94673, 51274, 41643, 96231, 38986, 79122, 70594, 64386, 28939, 86409, 80519, 55757, 66214, 88894, 31479, 72605, 82128, 69072, 86587, 10350, 12575, 71060, 47362, 54716, 69900, 66039, 63908, 81972, 91909, 59999, 57338, 30805, 54959, 29414, 26884, 50776, 28750, 52934, 29588, 98411, 34293, 81214, 52507, 82962, 84756, 54261, 10207, 55180, 62439, 26443, 395, 79734, 90512, 56700, 18641, 84635, 16390, 19209, 96320, 24150, 21648, 50275, 31427, 1513, 79730, 96942, 17340, 12151, 46584, 52803, 2805, 32744, 23445, 54088, 43627, 6835, 3552, 17265, 1223, 64241, 86987, 16074, 94945, 85562, 23506, 77198, 19035, 32472, 5019, 10010, 76274, 42751, 19609, 7127, 7571, 23064, 35127, 41377, 96629, 37719, 60954, 87822, 81182, 42933, 51996, 34967, 84422, 27178, 72573, 4111, 58101, 4044, 15820, 64652, 39472, 56037, 57208, 92525, 99247, 93269, 81437, 26002, 9434, 99859, 45966, 84331, 95933, 69142, 43891, 76182, 75930, 16698, 91451, 95172, 86750, 66217, 22778, 16780, 84335, 36554, 39460, 24895, 28585, 86555, 35251, 28710, 9270, 97507, 63277, 95756, 38722, 16433, 4210, 37146, 76886, 34283, 84895, 49075, 76687, 57462, 34640, 82092, 75977, 42206, 85166, 86924, 98013, 85460, 30922, 20304, 4476, 54637, 65819, 79624, 49900, 82402, 57029, 52247, 32310, 61302, 96193, 97473, 45141, 94694, 72766, 95624, 67331, 41218, 39457, 84639, 55432, 13824, 86779, 65482, 78271, 6659, 1532, 3375, 65890, 38506, 30905, 3392, 17551, 39632, 29749, 36182, 59010, 51297, 46909, 22243, 23542, 35212, 45028, 26364, 54749, 59809, 38336, 86569, 33258, 36715, 97668, 3439, 21272, 58285, 17560, 20036, 17192, 58515, 15433, 35715, 81807, 16998, 18971, 40112, 16617, 93517, 59959, 5074, 27287, 18742, 56969, 88657, 60022, 13097, 18879, 6383, 84145, 30929, 80806, 92890, 44717, 14224, 11961, 51174, 71335, 59504, 52675, 18029, 30720, 82217, 4190, 88708, 76889, 23832, 16079, 99103, 62286, 12635, 30825, 66499, 96503, 16576, 37720, 71612, 83441, 11783, 60637, 54558, 71742, 70596, 95268, 65443, 31055, 26796, 30190, 62261, 87438, 34631, 48946, 23379, 56897, 38405, 61791, 29489, 28756, 27933, 45187, 54880, 48851, 2896, 90212, 53163, 86633, 80741, 12583, 68320, 49566, 52713, 68653, 84435, 65188, 47866, 61772, 95639, 29672, 60785, 15720, 4239, 18040, 98758, 25616, 48990, 70996, 3757, 90966, 3789, 82664, 23408, 98170, 94355, 14890, 56889, 79106, 45903, 28518, 26297, 41931, 14892, 95845, 2122, 2772, 85836, 4117, 3989, 55837, 60893, 67439, 99681, 57116, 11923, 3882, 44401, 76877, 98589, 30656, 40871, 68319, 10523, 70507, 97212, 80382, 43535, 15694, 27810, 48489, 57337, 34517, 65639, 42604, 59485, 51615, 99903, 68333, 33049, 80877, 40121, 70775, 38192, 26042, 39726, 25147, 80333, 49484, 35798, 99829, 44390, 74010, 47802, 2902, 6440, 70079, 77394, 47324, 75484, 44518, 14286, 34358, 6325, 14154, 7029, 10223, 13840, 92719, 57616, 52760, 44530, 40929, 82253, 37938, 52228, 95040, 66518, 37670, 92486, 56763, 5498, 27031, 30268, 36481, 12215, 13492, 52772, 40897, 1017, 59241, 30817, 49784, 43416, 36049, 93111, 40694, 37408, 14731, 76936, 48932, 90487, 10946, 36606, 87647, 71912, 49168, 61033, 63605, 91490, 37857, 86972, 46146, 44829, 71456, 16045, 55511, 63868, 99734, 50822, 14745, 91956, 32653, 18587, 77943, 44307, 61776, 23986, 94420, 69439, 46758, 27411, 85820, 33731, 82058, 99814, 22102, 37064, 90627, 98548, 93557, 6335, 21062, 88069, 83678, 49868, 98033, 57239, 81194, 5866, 16277, 76713, 40198, 18477, 5584, 87442, 96731, 9345, 40241, 79801, 45235, 84859, 48342, 47285, 7711, 1909, 68332, 16140, 99341, 25717, 36084, 12223, 52953, 49222, 68413, 63009, 82332, 52358, 6899, 35527, 79232, 59537, 12148, 85794, 89992, 6909, 24783, 97116, 11810, 23077, 49425, 82285, 95454, 7785, 11209, 72641, 4090, 47571, 81356, 53012, 6040, 26748, 68738, 27816, 89330, 64931, 60869, 21493, 73267, 65855, 75591, 85252, 44891, 86013, 32297, 16731, 30121, 26109, 40635, 31787, 46631, 49385, 80726, 4321, 47715, 47412, 78188, 53070, 75834, 69409, 13677, 60310, 42017, 87695, 23055, 96613, 33170, 90033, 4191, 98740, 24473, 17156, 83641, 92281, 85632, 39684, 1123, 97800, 3635, 64806, 15716, 43923, 73824, 8692, 12250, 58425, 16446, 44101, 98861, 12219, 70943, 83288, 453, 56694, 5811, 88184, 8786, 69353, 77695, 54455, 54598, 86465, 67440, 84709, 72666, 81218, 5876, 93940, 20400, 43854, 56645, 65970, 44571, 25771, 1259, 58695, 75207, 47839, 2955, 75534, 99868, 6088, 82738, 13389, 2752, 51699, 3195, 50123, 25362, 72325, 68794, 2503, 46975, 5044, 96177, 73073, 1790, 46365, 47391, 78032, 37524, 74710, 82336, 5239, 83572, 76801, 64090, 91841, 63564, 91865, 77043, 55906, 50988, 90771, 1982, 60294, 65111, 70135, 66029, 28168, 10682, 13182, 72138, 54928, 39399, 73104, 93594, 8104, 57043, 69196, 12150, 2360, 15848, 67436, 6489, 52686, 23099, 65433, 61106, 19255, 90232, 70376, 92044, 11704, 81877, 58423, 34829, 76777, 45424, 39061, 13794, 9161, 32697, 32878, 87604, 83042, 33501, 47919, 23373, 26725, 33070, 65167, 6551, 64900, 38682, 38087, 87697, 47377, 64155, 99222, 89205, 90521, 61941, 90357, 69340, 77745, 81026, 27199, 35946, 89301, 82627, 61278, 41832, 51638, 19658, 87680, 38046, 86748, 93330, 92735, 67399, 47473, 11781, 51759, 11835, 35051, 16162, 83624, 88128, 3395, 26018, 27248, 18640, 63015, 36373, 85960, 80838, 491, 88926, 47395, 91158, 69326, 29203, 19235, 9565, 12419, 19456, 77026, 9466, 23148, 32032, 97025, 67293, 73448, 79583, 65400, 38355, 81658, 8894, 85331, 34261, 86863, 84536, 82043, 49226, 20873, 77229, 66083, 48771, 12131, 65283, 92959, 39064, 87427, 17657, 46119, 44263, 32863, 43530, 86154, 19496, 67558, 9021, 20999, 21727, 98610, 80054, 19245, 89343, 4553, 44561, 6836, 98981, 28480, 10375, 62070, 56417, 4588, 38496, 94586, 73988, 89140, 77837, 31326, 24695, 2132, 76696, 98355, 51252, 15877, 2553, 23196, 61622, 76824, 91308, 80249, 60001, 14999, 90094, 97541, 4930, 57291, 89829, 44564, 67195, 56130, 84179, 16602, 72496, 74452, 35433, 16501, 34141, 85359, 64039, 1968, 73427, 84582, 88205, 77401, 53872, 35833, 55932, 75236, 51992, 80355, 89619, 74581, 27132, 56453, 25950, 27670, 15813, 71110, 16236, 75491, 21174, 55391, 1788, 2949, 60695, 1798, 71246, 83561, 2990, 56321, 57719, 73496, 62487, 56209, 56671, 98966, 30007, 13806, 9370, 7744, 51227, 44241, 62548, 73529, 44266, 60303, 65239, 20782, 80995, 8328, 43598, 26229, 7932, 32392, 65950, 31335, 70156, 10344, 85884, 26312, 78593, 25851, 36696, 88252, 56743, 23494, 39364, 13354, 40724, 10715, 21208, 98991, 33304, 30698, 67496, 15232, 48867, 71016, 35084, 50386, 51296, 68564, 10772, 12528, 54658, 86240, 9373, 99808, 78750, 24294, 28550, 27089, 35038, 78843, 16470, 87432, 1948, 6368, 97005, 1972, 53054, 99154, 59314, 47849, 44481, 50046, 50889, 16272, 29751, 31961, 74817, 45193, 52573, 78089, 47583, 14561, 43483, 90476, 88274, 21918, 29818, 77652, 80089, 18354, 31165, 86705, 90146, 7185, 15557, 15608, 73615, 80350, 64153, 36311, 12815, 42928, 20579, 17788, 18362, 88199, 18613, 42606, 23966, 17878, 84612, 71631, 41681, 47487, 52221, 68094, 77119, 30054, 36126, 45656, 67700, 58671, 88047, 77649, 99109, 71966, 99417, 74278, 81973, 93530, 76158, 93739, 35692, 62469, 13313, 74640, 48699, 99566, 6451, 91501, 66754, 9703, 9799, 74018, 41177, 95389, 65922, 36582, 76033, 15849, 76813, 21425, 29069, 11994, 18246, 57228, 22452, 41428, 56991, 84272, 86112, 85916, 75311, 89988, 65344, 28273, 15966, 78498, 28535, 72293, 35698, 94302, 85481, 12323, 64655, 27375, 82965, 46790, 55144, 12802, 50940, 27144, 22011, 4992, 55577, 3428, 10448, 28304, 3571, 38954, 80110, 56027, 49830, 23132, 88778, 80106, 13870, 93541, 92073, 5328, 1418, 8323, 33946, 49163, 80304, 79128, 88049, 19116, 77997, 89303, 45996, 99777, 49730, 54856, 61717, 97453, 55707, 91502, 77578, 13022, 83845, 37215, 72460, 72126, 53707, 55263, 26279, 976, 67041, 91228, 16404, 76530, 29442, 84189, 92297, 33000, 24282, 7047, 6941, 23253, 50839, 48395, 28298, 94102, 70326, 57579, 91901, 99165, 75490, 71977, 40273, 15951, 96087, 67213, 50709, 52560, 8955, 45009, 52192, 65032, 75915, 16252, 15273, 1985, 87527, 24827, 60128, 43242, 96775, 88534, 31631, 98654, 10472, 90046, 68192, 52972, 44927, 31203, 68700, 30661, 61874, 94522, 99549, 84200, 8271, 91135, 90922, 68547, 58767, 87909, 96453, 32344, 53209, 30629, 39712, 9057, 30426, 22595, 91743, 37436, 24910, 358, 65192, 14579, 81509, 45462, 48135, 20259, 98563, 55326, 27021, 55912, 69152, 43739, 626, 84304, 21336, 23885, 21358, 25465, 29083, 53443, 46902, 1277, 41548, 27029, 6711, 99989, 59263, 97724, 49392, 98439, 38721, 26633, 56042, 43568, 51607, 48502, 7808, 63074, 6966, 56638, 55974, 30697, 36899, 77632, 60518, 17646, 92115, 63315, 65231, 2447, 92887, 79469, 64192, 43521, 74322, 97111, 96054, 37083, 73130, 70196, 1042, 69306, 98147, 42202, 51171, 37731, 10075, 42890, 24963, 87163, 40191, 31516, 92675, 14486, 58278, 91560, 54000, 58463, 742, 49615, 27023, 87211, 14848, 49594, 14701, 83909, 97718, 48078, 78283, 38345, 81824, 84329, 16427, 62335, 59200, 13933, 60712, 34651, 45231, 54485, 98970, 89511, 96920, 92903, 93265, 77547, 97780, 76806, 774, 11045, 93974, 90791, 26681, 51876, 3075, 13078, 70105, 75647, 16596, 39077, 24243, 19443, 30295, 46117, 64624, 16709, 33027, 64606, 11799, 16889, 79911, 93402, 13602, 67974, 87920, 22221, 24016, 44689, 53949, 37700, 88568, 8480, 74668, 81454, 15067, 96703, 26291, 75840, 14993, 71532, 18498, 58466, 47949, 8542, 17418, 54305, 9763, 79803, 4551, 15533, 45123, 60372, 97928, 22285, 26019, 72258, 58729, 67800, 13387, 59767, 50678, 8006, 23227, 54133, 88071, 59934, 56360, 43121, 33290, 29047, 75071, 51043, 81211, 30118, 78207, 96701, 9884, 34187, 23911, 23233, 73818, 29719, 69224, 4238, 4876, 19954, 94224, 18888, 61017, 9680, 62131, 17080, 59283, 48267, 3590, 46734, 29178, 27591, 82176, 87600, 76760, 92324, 66384, 21389, 66137, 28943, 16792, 75279, 57991, 93456, 69865, 37065, 41233, 40232, 89121, 14577, 49066, 89400, 4563, 80202, 61110, 42821, 78580, 89079, 40708, 14691, 63764, 75509, 56373, 56031, 5091, 30786, 55976, 9786, 87187, 87794, 64839, 88279, 77465, 5939, 90684, 18980, 14078, 22366, 31531, 61225, 23109, 42146, 61492, 82582, 82201, 59822, 94363, 24215, 64720, 18510, 39449, 85989, 3544, 30643, 57115, 87127, 5630, 71549, 89279, 31205, 79185, 34908, 75361, 11112, 15231, 14006, 47818, 99233, 9177, 29135, 59310, 24374, 47863, 94907, 60525, 75781, 12854, 16489, 16063, 2446, 44204, 92781, 73392, 31049, 21568, 24410, 51271, 48374, 55155, 80323, 83912, 93124, 43986, 44228, 45574, 33682, 45364, 64445, 2372, 65686, 45817, 66520, 44968, 11653, 92775, 37611, 77732, 4794, 21553, 93534, 20057, 36664, 55241, 84674, 30549, 1199, 38449, 93971, 75137, 80888, 35745, 26593, 21147, 99662, 22661, 91787, 70875, 81759, 83468, 60304, 58964, 93761, 29222, 20410, 9402, 98246, 977, 53796, 62457, 51188, 97861, 5900, 6648, 27892, 44650, 12330, 38607, 82266, 29708, 63876, 991, 19758, 47178, 90734, 28703, 12890, 50384, 8481, 47650, 85143, 75549, 9678, 61310, 63895, 66965, 63559, 21072, 13003, 55340, 73370, 66427, 63669, 68935, 89419, 37621, 30320, 92338, 44248, 34701, 27036, 50975, 29001, 23555, 37395, 44423, 49202, 46509, 40398, 19374, 63601, 85117, 43193, 27582, 30711, 86489, 86552, 32089, 93262, 611, 7059, 94291, 19222, 56449, 80809, 78511, 33833, 7128, 31097, 27030, 90091, 34328, 84861, 91443, 8448, 53943, 81416, 86849, 62800, 90658, 1779, 98087, 42688, 93993, 32794, 57942, 76418, 49344, 16740, 94593, 15406, 53273, 75656, 88546, 49284, 67215, 94857, 90529, 51062, 87196, 22061, 48382, 11193, 40306, 91026, 97820, 36749, 6663, 53692, 91319, 69887, 25611, 78355, 37787, 42767, 75964, 27282, 75203, 46121, 11939, 46842, 56884, 54779, 36087, 95961, 41062, 60225, 8621, 99749, 68666, 43661, 75782, 39533, 43152, 20867, 61832, 34234, 81835, 24541, 70254, 3382, 61823, 99012, 79319, 23056, 58983, 13822, 2459, 51891, 70790, 43240, 35695, 15068, 99312, 67850, 36945, 7800, 31138, 83932, 36387, 21384, 86380, 86757, 11953, 47002, 16196, 14912, 17353, 65095, 26059, 53984, 67828, 5565, 31316, 12968, 77159, 57841, 97767, 79567, 6637, 89277, 98734, 31843, 63177, 31738, 45208, 71053, 26490, 17651, 70812, 54845, 37256, 36295, 18599, 10247, 91330, 44469, 31588, 71224, 67650, 33116, 39718, 86936, 15945, 45222, 55465, 66340, 58027, 71105, 34168, 37440, 66856, 76582, 7546, 90690, 77478, 25075, 46198, 19722, 22265, 43248, 32410, 47710, 91322, 4404, 3172, 59440, 91154, 18370, 58481, 74511, 7886, 36478, 4829, 63586, 76607, 7080, 76124, 88943, 33938, 35987, 40344, 70951, 47664, 78449, 71101, 54922, 85246, 87708, 52434, 59269, 69742, 96504, 71448, 9496, 68373, 51907, 22803, 2072, 97864, 58500, 21457, 18468, 55970, 81708, 76814, 61789, 54246, 17976, 36062, 25186, 99879, 7015, 34891, 98105, 22183, 72318, 69082, 35315, 49825, 7405, 32856, 11667, 21643, 93424, 99697, 91628, 65726, 93579, 84343, 63804, 64770, 81379, 54683, 17683, 56488, 42342, 66803, 52693, 79794, 47243, 96036, 10899, 87029, 21034, 45460, 32299, 40469, 99145, 93502, 53247, 65954, 43260, 63403, 4132, 2703, 79535, 68532, 26079, 98353, 4029, 48848, 68112, 55925, 93136, 41444, 9319, 51965, 27769, 41913, 94107, 44238, 10248, 42349, 94157, 39807, 92509, 67102, 55731, 15699, 19424, 42162, 90608, 98659, 12584, 16626, 88371, 18156, 52198, 48183, 26005, 15190, 57584, 97469, 63465, 78722, 57216, 25971, 67792, 21966, 59106, 15791, 68662, 90083, 21316, 36770, 96717, 13312, 54013, 46521, 78298, 19314, 12923, 65740, 46684, 48534, 87687, 2422, 44813, 71449, 85410, 93523, 30774, 38085, 19993, 69620, 59925, 83013, 23808, 3608, 37773, 32318, 87797, 96434, 41594, 86339, 31065, 93837, 22794, 93472, 17172, 9582, 85220, 95859, 26870, 23197, 72378, 33831, 36208, 97177, 16469, 99544, 12994, 35982, 67243, 46093, 61181, 22553, 32939, 1412, 28360, 82590, 12610, 38790, 68545, 62160, 27100, 77586, 24809, 7715, 68263, 68178, 82089, 11596, 56148, 58860, 35141, 60738, 44475, 55423, 36823, 90473, 58236, 96468, 86903, 83765, 67438, 79856, 20593, 8034, 58648, 99433, 40026, 34502, 52840, 68883, 91505, 38941, 18126, 24753, 29615, 74816, 39641, 71437, 47137, 32933, 76076, 3900, 80746, 32981, 79841, 56011, 97678, 54597, 12146, 38920, 6773, 68238, 9991, 42198, 63943, 12174, 3338, 76359, 76148, 13814, 59116, 96370, 72662, 5690, 96197, 18682, 69496, 22047, 75299, 8901, 51517, 86349, 70963, 3360

61256

18) Write a Python program to count occurrences of a substring in a string.

In [224]:
#ANSWER 18 -:

string = "This is one spoonful of sugar. In custard there are only two spoonful of sugar and not more than that."

sub = input("Enter the substring you wanna count :")        #taking input for substring frm user

occurence = string.count(sub)                #counting frequency of substring in parent string

print("The",sub,"occurs",occurence,"times in the string")

Enter the substring you wanna count :we
The we occurs 0 times in the string

19) Write a Python program to count the occurrences of each word in a given sentence

In [226]:
#ANSWER 19 -:

sentence = "The world with overusing Ghibli Styyle image generating is overheating the GenAI GPU's."

sen = sentence.split(" ")        #splitting the string into words using seperator
sen

word_count = {}           #creating empty dictionary to store each word

for i in sen :             #initiating the loop to count the frequency of each word
    if i in word_count :
        word_count[i] += 1      #couning each occurence
    else :
        word_count[i] = 1
print("The word occurence for each word in the whole sentence is\n", word_count)

The word occurence for each word in the whole sentence is
 {'The': 1, 'world': 1, 'with': 1, 'overusing': 1, 'Ghibli': 1, 'Styyle': 1, 'image': 1, 'generating': 1, 'is': 1, 'overheating': 1, 'the': 1, 'GenAI': 1, "GPU's.": 1}

20) Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [227]:
#ANSWER 20 -:

s1 = input("Enter a String here : ")
s2 = input("Enter second string here : ")

swap_s1 = s1[:2] + s2[2:]        #extracting the first two character from first and  rest of character of second after ignoring last two chars
swap_s2 = s2[:2] + s1[2:]        #extracting the first two character from second and rest of character of first after ignoring last two chars

swap_string = swap_s1 + " " + swap_s2      #concatenating two swapped strings into new onek

print("The single string from given inputs, with the first two characters swapped is : ",swap_string)

Enter a String here : hellooo
Enter second string here : heylooo
The single string from given inputs, with the first two characters swapped is :  heylooo hellooo

21) Write a Python program to add 'in' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead if the string length of the given string is less than 3, leave it unchanged.

In [230]:
#ANSWER 21 -:

user_string = input("Enter a word : ")

#check if the length of string is more than 3
if len(user_string) >= 3 :

  if user_string.endswith("ing") :        #changing string if the condition if true using "ENDSWITH" method
    print(user_string + "ly")
  else :
      print(user_string + "in")         #change in string if condiion is false
else :
  print(user_string)      #output if the string is less than 3 characters

Enter a word : fitting
fittingly


22) Write a Python function to reverses a string if its length is a multiple of 4.

In [231]:
# ANSWER 22 -:

s = str(input("Enter a string here : "))

if len(s) % 4 == 0 :         #checking for string length of 4 and reversing string
  print("The reversed string is", s[:: -1])

else :
  print("The string length is not a mutliple of 4")

Enter a string here : wowwowwwe
The string length is not a mutliple of 4

  
23) Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.

In [232]:
#ANSWER 23 -:

str_input = input("Enter a word here : ")

if len(str_input) > 2 :
  s1 = str_input[:2]
  s2 = str_input[-2:]         #using negative indexing to extract last two characters
  print("The new string is",s1 + s2)
else :
  print(str_input)       #if the string is less than 2 characters

Enter a word here : cleptomania
The new string is clia

24) Write a Python function to insert a string in the middle of a string.

In [234]:
#ANSWER 24 -:

string = "I am Jayani"    #predefined strings
extra = "Joshi"

f_string = "I am {0} Jayani".format(extra)    #using 'FORMAT' string method to insert the string
f_string

print(f_string)

I am Joshi Jayani

25) What is List? How will you reverse a list?

ANSWER 25 -:

The List is one of the many datatypes of python. Lists are mutable and can be altered at any point of time. The elements of the lists are represented in " [ ] " square brakcets.

The list can be reversed using many ways, but the sure-short way is using the "Reverse" list method.

In [235]:
#ANSWER 25 -:

given_list = [23, "Hey", 5.4, True]

#1st Option
given_list.reverse()        #using list method
print(given_list)

#2nd Option
given_list[::-1]            #using reverse slicing

[True, 5.4, 'Hey', 23]

[23, 'Hey', 5.4, True]

26) How will you remove last object from a list?

In [236]:
#ANSWER 26 -:

#OPTION 1 :
list = [1, 22, 333, 4444, 55555]

list.pop()       #by default removes the last object

print(list)

#OPTION2 :
list1 = [6, 77, 888, 9999, 11111]

list1.pop(-1)     #by mentioning specific position

print(list1)

#OPTION 3 :
list2 = [2222, 333, 44, 5]
del list2[-1]    #using DEL mehod
print(list2)

[1, 22, 333, 4444]
[6, 77, 888, 9999]
[2222, 333, 44]

27) Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [1]?

The Value will be 25.

In [237]:
#ANSWER 27 -:

list1=[2, 33, 222, 14, 25]
list1[-1]

25

28) Differentiate between append () and extend () methods?

ANSWER 28 -:

'APPEND' only allows to add one item at a time in the list while 'EXTEND' allows to add muliple items or even a whole list to an exising list.

In [238]:
#ANWER 28 -:

app = [12,34,56,89,11]
app.append(39)              #APPEND
print(app)

ext = ["Joey","Does", "Not"]    #EXTEND
ext.extend(["Share","Food"])
print(ext)

[12, 34, 56, 89, 11, 39]
['Joey', 'Does', 'Not', 'Share', 'Food']

29) Write a Python function to get the largest number, smallest num and sum of all from a list.

In [1]:
#ANSWER 29 -:

lst = [23, 87, 5, 64, 39, 72]

#OPTION 1 :

# OPTION 2 : With one print statement
print("The given list has", max(lst), "as largest number", min(lst), "as the smallest number and", sum(lst), "as the sum of all items in the list")


# OPTION 3 : USING EXPANDED CODE (SORT and SUM function)
lst.sort()

a = lst[0]
print("The Largest number in the list is", a)

b = lst[-1]
print("The Smallest number in the list is", b)

s = sum(lst)
print("The Sum of all items in the list is", s)

The given list has 87 as largest number 5 as the smallest number and 290 as the sum of all items in the list
The Largest number in the list is 5
The Smallest number in the list is 87
The Sum of all items in the list is 290

30) How will you compare two lists?

Lists can be compared in various ways but the most common way is using "==" operator.

In [2]:
#ANSWER 30 -:

list_a = [1, 3, 4, 2, 5]
list_b = [4, 5, 6, 7, 8]

list_a.sort()                 #Sorting the list to get a clear picture of numerical elements
print("1st List : ", list_a)
list_b.sort()
print("2nd List : ", list_b)      #Printing the list

# OPTION 1 - Checking by comapring the lists

compare = list_a == list_b       #Checking if the lists are same with BOOLEAN output
print("Are both the lists same?\n", compare)

# OPTION 2 - Converting to Sets to get only Unique values from list

compare1 = set(list_a) - set(list_b)                  #First converts the list to set and extracts the unique values
print("The unique values from 1st List are :: ",compare1)        #Prints unique values from 1st list
compare2 = set(list_b) - set(list_a)                  #and then converts again to list and gives the ouptput
print("The unique values from 2nd List are :: ",compare2)        #Prints unique values from 2nd list

1st List :  [1, 2, 3, 4, 5]
2nd List :  [4, 5, 6, 7, 8]
Are both the lists same?
 False
The unique values from 1st List are ::  {1, 2, 3}
The unique values from 2nd List are ::  {8, 6, 7}

31) Write a Python program to count the number of strings where the string  length is 2 or more and the first and last character are same from a given list of strings.

In [3]:
#ANSWER 31 -:

#1st Condition String Length is more than 2
#2nd Condition First and last character of string are same
#3rd Condition Count the number of strings where 1st and 2nd are fulfilled

str_list = ["gag", "help", "fate", "tat", "tit"]
str_count = 0

for s in str_list :                #initiating loop to check length of string as well as the first and last character of strings
  if len(s) > 2 and s[0] == s[-1] :
    str_count += 1
print("The total number of strings with all conditions fulfilled is",str_count)

The total number of strings with all conditions fulfilled is 3

32) Write a Python program to remove duplicates from a list.

In [4]:
#ANSWER 32 -:

#OPTION 1 : Using "SET"

og_list = ["Kenneth", "Jordan", "Jaguar", "Kennedy", "Kenneth"]     #list containing duplicates

dup_list = set(og_list)          #removing duplicates from the list using set() concept used in previous problems

print("Option 1 : The 'Original list' is :\n", og_list, "\nand the list with 'Unique values' is\n", dup_list)


#OPTION 2 : Using "FUNCTIONS"

duplicate = []

def duplicate_fn(og_list):   #Creates a function that stores all the actions perfomred in it

  for i in og_list :
    if i not in duplicate :
      duplicate.append(i)
  print("\nOption 2 :The updated list after removal of duplicates using function is\n",duplicate)

duplicate_fn(og_list)

Option 1 : The 'Original list' is :
 ['Kenneth', 'Jordan', 'Jaguar', 'Kennedy', 'Kenneth']
and the list with 'Unique values' is
 {'Jaguar', 'Jordan', 'Kennedy', 'Kenneth'}

Option 2 :The updated list after removal of duplicates using function is
 ['Kenneth', 'Jordan', 'Jaguar', 'Kennedy']

33) Write a Python program to check a list is empty or not.

ANSWER 33 -:


To check whether the list has any contents or not -
- Call and print the list. If the list has any items, it will be displayed, else an empty list will be displayed as output.
- Another way to check the same is using the Case Statements.

In [5]:
#ANSWER 33 -:

lst = [12,34,56,78,90]    #List with items
print(lst)

#Option 1 : Calling or Printing the list

lst2 = []     #Empty List
print(lst2)


#Option 2 : Using Case statements on list

lst3 = [23,45,87]

if len(lst3) > 0 :                  #using case statement to check the list
  print("The list contains values")
else :
  print("The list is empty")

[12, 34, 56, 78, 90]
[]
The list contains values

34) Write a Python function that takes two lists and returns true if they have at least one common member.

In [6]:
#ANSWER 34 -:

l1 = [11,22,33,44,55,66]
l2 = [77,88,99,00,11]

l = set(l1).intersection(set(l2))    #converting the list to sets and checking for any common elements

if len(l) > 0 :             #checking length of the created list
  print("True,\nThe list has at least one common member")            #print statement if condition is fulfilled

else :
  print("The list has all unique values")

True,
The list has at least one common member

35) Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30

In [7]:
#ANSWER 25 -:

og_list = []       #creating empty list

for n in range(1,31) :       #calculating squares for specified range
  og_list.append(n**2)       #appending values to empty list
  og_list

new_list = og_list[:5] + og_list[-5:]         #exracting and storing values in new list
new_list

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

36) Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [8]:
#ANSWER 36 -:

#OPTON 1 :

lst = ["My", "Name", "Is", "Is", "Anthony", "Name", "Gonsalves"]

unique = set(lst) #converting the list to set for removing duplicates
print("The new list with unique values : ",unique)


#OPTION 2 :

l1 = [11,22,33,44,55,66,77,77,88,99,99,11,22,11]

l2 = []

for i in l1 :       #initiating loop to check for unique values
  if i not in l2 :
    l2.append(i)
print("The list with removed duplicates is : ",l2)

The new list with unique values :  {'Anthony', 'Gonsalves', 'Name', 'Is', 'My'}
The list with removed duplicates is :  [11, 22, 33, 44, 55, 66, 77, 88, 99]

37) Write a Python program to convert a list of characters into a string.

In [9]:
char = ["D","a","t","a"," ","A","n","a","l","y","t","i","c",'s']
char

print ("The sring generated from list of characters is", "".join(char))      #using String method to convert characters to a string

The sring generated from list of characters is Data Analytics

38) Write a Python program to select an item randomly from a list.

In [10]:
import random

r_list = [1, "hello", 3.14, True, [1, 2, 3], (4, 5), {"a": 1}, None, 9, "world", 23, 'life', False, 99]
ri = random.choice(r_list)       #Using CHOICE method from RANDOM module
ri

False

39) Write a Python program to find the second smallest number in a list.

In [11]:
num = [42, 7, 89, 23, 65]
num.sort()                  #sorting the list from smallest to largest
num

print("The second smallest number in the list is",num[1])      #extracting and printing the second smallest number

The second smallest number in the list is 23

40) Write a Python program to get unique values from a list

In [12]:
#ANSWER 40 -:

u_list = [12,12,33,57,111,98,98,77,56,77,44,21,33]

for n in u_list :
  if u_list.count(n) == 1 :     #checking for values with only one occurence
    print(n)

57
111
56
44
21

41) Write a Python program to check whether a list contains a sub list

In [13]:
liist = ["lie","true","movies",2,90,123,"true"]
sub_list = ["false"]

print(set(sub_list).issubset(set(liist)))    #check if sub list is in the paren list

False

42) Write a Python program to split a list into different variables.

In [14]:
#ANSWER 42 -:

lst_v = [1, 2, 3, 4, 5]

v1 = lst_v[0:3]       #splitting by giving ratio of index
print(v1)

v2 = lst_v[3:5]
print(v2)

print("The first variable is", v1, "and the second variable is", v2)

[1, 2, 3]
[4, 5]
The first variable is [1, 2, 3] and the second variable is [4, 5]

43) What is tuple? Difference between list and tuple.

Answer :
* "TUPLE" is one of the type of datatypes used in python. They are immutable(cannot be changes once created). Tuples are store elements in " () " or round brackets.

- The main difference between a TUPLE and a LIST is that, tuple are immutable while the lists are mutable and can be updates after creation. Another difference is that, list store elements in [] and tuples store in ().

In [15]:
t = (23,12,45,54,67,76)   #TUPLE

l = [90,10,87,78,21,12]   #LIST

44) Write a Python program to create a tuple with different data types.

In [16]:
tup1 = (98,"World",False,9.5)

print("The tuple is : ", tup1)

for t in tup1 :        #looping through the tuple and classifying it's dataypes
  print("The datatype of the item in tuple is : ")
  print(t, type(t))

The tuple is :  (98, 'World', False, 9.5)
The datatype of the item in tuple is :
98 <class 'int'>
The datatype of the item in tuple is :
World <class 'str'>
The datatype of the item in tuple is :
False <class 'bool'>
The datatype of the item in tuple is :
9.5 <class 'float'>


45) Write a Python program to unzip a list of tuples into individual lists.

In [17]:
#ANSWER 45 -:

tl = [(0, 0), (1, 2), (2, 4), (3, 6), (4, 8)]

for item in tl :
  print(list(item))       #seperating the tuple lists into individual lists


"""If the code is not running, restart the session from 'RUNTIME tab' and try again."""

[0, 0]
[1, 2]
[2, 4]
[3, 6]
[4, 8]

"If the code is not running, restart the session from 'RUNTIME tab' and try again."


46) Write a Python program to convert a list of tuples into a dictionary.

In [18]:
#ANSWER 46 -:

list_tuples = [(12,24),("Helen","Geller"),("Jhon", 89)]
list_tuples

tup_dict = dict(list_tuples)
tup_dict

print("The created dictionary has\n" , tup_dict.items(),"items\n", tup_dict.keys(), "keys\n", tup_dict.values(), "values.")

The created dictionary has
 dict_items([(12, 24), ('Helen', 'Geller'), ('Jhon', 89)]) items
 dict_keys([12, 'Helen', 'Jhon']) keys
 dict_values([24, 'Geller', 89]) values.

47) How will you create a dictionary using tuples in python?

In [19]:
#ANSWER 47 -:

t = ('A',12),('B',23),('C',39),('D',48)      #creating a tuples
t

d = dict(t)     #typecasting the tuple to dictionary with pairs of key & values
d

print("The newly created dictioary has\n", d.keys(),"keys\n and\n", d.values(),"values in it.")

The newly created dictioary has
 dict_keys(['A', 'B', 'C', 'D']) keys
 and
 dict_values([12, 23, 39, 48]) values in it.

48) Write a Python script to sort (ascending and descending) a dictionary by value.

In [20]:
#ANSWER 48 -:

A = {"Jenny": 76, "Joe" : 89, "Blair" : 95, "Helen" : 54}
B = {"George": 59, "Brian" : 90, "Joey" : 39, "Henry" : 48 }

##OPTION 1 ::
print("OPTION 1 ::")

#Sorting in Ascending order
asc = sorted(A.values())

#Sorting in Descending Order
dsc = sorted(B.values(), reverse = True)

print("The dictionary sorted in ascending order by values is", asc, "\n WHILE \n", "The dictionary sorted in descending order by values is", dsc, "\n")


##OPTION 2 ::
print("OPTION2 ::")

#ASCENDING ORDER
lst_asc = list(A.values())
lst_asc.sort()

#DESCENDING ORDER
lst_dsc = list(B.values())
lst_dsc.sort(reverse=True)

print("The values of dictionary sorted in ascending order are", lst_asc, "\n WHILE \n", "The values of dictionary sorted in ascending order are", lst_dsc)

OPTION 1 ::
The dictionary sorted in ascending order by values is [54, 76, 89, 95]
 WHILE
 The dictionary sorted in descending order by values is [90, 59, 48, 39]

OPTION2 ::
The values of dictionary sorted in ascending order are [54, 76, 89, 95]
 WHILE
 The values of dictionary sorted in ascending order are [90, 59, 48, 39]

49) Write a Python script to concatenate following dictionaries to create a new one.

In [21]:
#ANSWER 49 -:

dict1 = {"Hello":1,"My":2,"Name":3,"is":4,"Jayani":5}
dict2 = {"I":6,"am":7, "a":8, "successful":9, "person.":10}

dict1.update(dict2)
dict1

print("The merged dictionary consists of\n", dict1.keys(), "keys,\n", dict1.values(), "values\n", "and\n", dict1.items())

The merged dictionary consists of
 dict_keys(['Hello', 'My', 'Name', 'is', 'Jayani', 'I', 'am', 'a', 'successful', 'person.']) keys,
 dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) values
 and
 dict_items([('Hello', 1), ('My', 2), ('Name', 3), ('is', 4), ('Jayani', 5), ('I', 6), ('am', 7), ('a', 8), ('successful', 9), ('person.', 10)])

50) Write a Python script to check if a given key already exists in a dictionary.

In [25]:
#ANSWER 50 -:

word = {"Doll": 23.50, "Car" : 13, "Animals" : 30.70, "Snakes" : 7.90}        #Creating a dictionary

## OPTION 1 ::

key = word.get("Movie")        #Checking for exixtence of the key in a dictionary

print("The value of the key is", key)      #will print NONE if the key is not in the dictionary

"""If the key is present in the dictionary, the assigned values will be displayed as the output, else 'NONE' would appear as the result"""

## OPTION 2 ::

key1 = "Lion"     #enter a key to check if it exists

if key1 in word.keys() :           #checking if the key is in dictionary using dictionary method
  print("The key is present in the dictionary")
else :
  print("The key doesn't exists in the dictionary")

The value of the key is None
The key doesn't exists in the dictionary

51) How Do You Traverse Through a Dictionary Object in Python?

ANSWER 51 -:

- The ditionary can be traversed in three ways. Traversing through keys, values and items.
- This can be using loop, to iterate through each object in the dictionary or using dictionary methods

In [26]:
#ANSWER 51 -:

d1 = {"name": "Alice", "age": 30, "city": "New York", "occupation": "Engineer", "student": False, "favorite_color": "Blue"}

##OPTION 1 : Using LOOPS

#KEYS
for k in d1 :
  print(k)


#VALUES
for v in d1.values() :
  print(v)


#ITEMS
for i in d1.items() :
  print(i)


##OPTION 2 : Using Dictionary methods

#Keys :
print(d1.keys())

#Values :
print(d1.values())

#Items :
print(d1.items())

name
age
city
occupation
student
favorite_color
Alice
30
New York
Engineer
False
Blue
('name', 'Alice')
('age', 30)
('city', 'New York')
('occupation', 'Engineer')
('student', False)
('favorite_color', 'Blue')
dict_keys(['name', 'age', 'city', 'occupation', 'student', 'favorite_color'])
dict_values(['Alice', 30, 'New York', 'Engineer', False, 'Blue'])
dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York'), ('occupation', 'Engineer'), ('student', False), ('favorite_color', 'Blue')])

52) How Do You Check the Presence of a Key in A Dictionary?

In [28]:
#ANSWER 52 -:

d1 = {}     #empty dictionary
d2 = {"A" : 12, "B" : 24, "C" : 36, "D" : 48, "E" : 60}    #dictionary with items

#To check if the dictionary has any keys is -:
dict_1 = print(d1.keys())    #using dictionary methods
dict_2 = print(d2.keys())

"""This will diplay all the keys present in the dictionary, and if none then empty dictionary will be displayed as output """

dict_keys([])
dict_keys(['A', 'B', 'C', 'D', 'E'])

'This will diplay all the keys present in the dictionary, and if none then empty dictionary will be displayed as output '

53) Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [29]:
#ANSWER 53 -:

d = {}

for i in range(1,16) :
  d[i] = i

print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

54) Write a Python program to check multiple keys exists in a dictionary

In [43]:
#ANSWER 54 -:

my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.keys())
print(my_dict.values())

keys = ["d", "b", "f"]           #list of keys to check in the parent dictionary

check_keys = set(keys) & set(my_dict)         #converting dictionary to set and checking using set intersection method

if len(check_keys) == len(my_dict) :
  print("All the keys are in the dicrionary")
else :
  print("Not all keys are present in the dictionary")

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
Not all keys are present in the dictionary

55) Write a Python script to merge two Python dictionaries

In [44]:
#ANSWER 55 -:

A = {"Jenny": 76, "Blair" : 69, "Joe" : 89, "Helen" : 54}
B = {"George": 67, "Brian" : 90, "Joey" : 39, "Henry" : 48 }

A.update({"George": 67, "Brian" : 90, "Joey" : 39, "Henry" : 48 })   #adding the items of dic2 to dic1 and merging

print("The output of merged dictionary is :", A)

The output of merged dictionary is : {'Jenny': 76, 'Blair': 69, 'Joe': 89, 'Helen': 54, 'George': 67, 'Brian': 90, 'Joey': 39, 'Henry': 48}

56) Write a Python program to map two lists into a dictionary Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [45]:
#ANSWER 56 -:

l1 = ["a","b","d","c"]
l2 = [400,400,400,300]

d = dict(zip(l1, l2))
d

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

57) Write a Python program to find the highest 3 values in a dictionary

In [46]:
#ANSWER 57 -:

d = {'m': 23, 'f': 88, 'x': 12, 'b': 76, 'o': 47, 'k': 5, 's': 91}

#OPTION 1 :
sort_v = sorted(d.values())    #sorted the dictionary by values
print("The top 3 values in dictionary",sort_v[:3])

#OPTION 2 : Using ZIP function
top_3 = dict(zip(sort_v[-3:], d.keys()))       #extracting the top 3 values from sorted dictionary and combining with respective keys.
print("The highest 3 values in a dictionary are", top_3)

The top 3 values in dictionary [5, 12, 23]
The highest 3 values in a dictionary are {76: 'm', 88: 'f', 91: 'x'}

58) Write a Python program to combine values in python list of dictionaries. Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}] Expected Output: • Counter ({'item1': 1150, 'item2': 300})

In [47]:
#ANSWER 58 -:

sample = [{'item': 'item1', 'amount': 400},{'item': 'item2', 'amount': 300},{'item': 'item1', 'amount': 750}]

result = {}

for s in sample:
    item = s['item']
    amount = s['amount']

    if item in result:
        result[item] += amount
    else:
        result[item] = amount

print("The combined values of the dictionaries is,", result)

The combined values of the dictionaries is, {'item1': 1150, 'item2': 300}

59) Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.

In [48]:
#ANSWER 59 -:

string = input("Enter a string here : ")

s_dict = {}

for s in string :       #initiating loop to iterate through each character of string
  if s in s_dict :
    s_dict[s] += 1
  else :
    s_dict[s] = 1

print(s_dict)

Enter a string here : 23fygf45
{'2': 1, '3': 1, 'f': 2, 'y': 1, 'g': 1, '4': 1, '5': 1}

60) Sample string: 'w3resource' Expected output: • {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [49]:
#ANSWER 60 -:

dict_s = "w3resource"

dict_o = {}

for o in dict_s :       #initiating loop to iterate through each character of string
  if o in dict_o :
    dict_o[o] += 1
  else :
    dict_o[o] = 1

print(dict_o)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

61) Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [50]:
#ANSWER 61 -:

#OPTION 1 :
j = int(input("Enter a number here : "))
i = j
factorial = 1

if i > 0 :

  while i > 1 :
    factorial *= i
    i -= 1
  print("The factorial of number is ", factorial)

else :
  print("Invalid Input")

#OPTION 2 :      Using SciPy library
import scipy as sp

f = int(input("Enter a number : "))
print("The factorial of the input is - ", sp.special.factorial(f))

Enter a number here : 12
The factorial of number is  479001600
Enter a number : 3456
The factorial of the input is -  inf

62) Write a Python function to check whether a number is in a given range

In [53]:
#ANSWER 62 -:

#OPTION 1 : Pre-defined Range
num = int(input("Enter a number : "))      #user input

if num in range(30,95) :             #assigning a range and checking for the input in the range

  print("The number lies in the range")

else :
  print("The input is out of range")


#OPTION 2 : With user-defined Range
s_num = int(input("Enter a staring number : "))
e_num = int(input("Enter a ending number : "))

u_num = int(input("Enter any number :"))

if u_num in range(s_num,e_num + 1) :          #Checking if user-number lies in the user_input range
  print("The number lies in the range")

else :
  print("The input is out of range")

Enter a number : 123
The input is out of range
Enter a staring number : 1112345
Enter a ending number : 23456
Enter any number :123
The input is out of range

63) Write a Python function to check whether a number is perfect or not.

In [54]:
#ANSWER 63 -:

p_num = input("Enter any number : ")

sum = 0

for n in range(1, int(p_num)) :        #iterating number through loop
  if int(p_num) % n == 0 :          #checking for divisors and no remainder
    sum += n

if sum == int(p_num) :
  print("Perfect number")

else :
  print("Imperfect number")

Enter any number : 1234
Imperfect number

64) Write a Python function that checks whether a passed string is palindrome or not

In [56]:
#ANSWER 64 -:

string = input("Enter your string here :")      #user input
palindrome = string[:: -1]       #assigning variable

if string == palindrome :            #checking for the palindorme in the string
  print ("The string is a palindorme")

else :
  print ("The input is not a palindorme")

Enter your string here :tit
The string is a palindorme

65) How Many Basic Types of Functions Are Available in Python?

###Answer 65 :
- There are mainly two types of functions available in python.
- a) Built-In Functions   
- b) User-Defined Functions
- The built-in function are already stored in python by th developers, and does'nt need to created and can be directly used as required.
- The user-defined functions are created by the user as they want the functions to work in their code specifically when called. Basically, they're like the macros in MS-Excel in which the functions are recorded and saved for any future use, but created by user and not default-ones.

- The other one is LAMBDA. But this is more of an expression than a function, which is used when one wants to display a multi-line code in only one line and execute it.

66) How can you pick a random item from a list or tuple?

In [60]:
#ANSWER 66 -:

import random               #importing random module

tup = (42, 17, 89, 3, 76, 54)        #tuple for reference

rt = random.sample(tup,1)
print("The random element from the tuple is",rt)

lst = [34, 76, 12, 59, 87, 21]         #list for reference

rl = random.sample(lst,2)

print("The random elements from the list are ",rl)

The random element from the tuple is [42]
The random elements from the list are  [59, 76]

67) How can you pick a random item from a range?

In [63]:
#ANSWER 67 -:

import random

#OPTION 1 :: Using Random.Sample()

r = random.sample(range(23,974),2)
print("The random items from the given range are", r)


#OPION 2 :: Using Random.randit()

r1 = random.randint(37,100)
print("The random item from the given range is", r1)

The random items from the given range are [91, 638]
The random item from the given range is 79

68) How can you get a random number in python?

In [64]:
#ANSWER 68 -:

import random

ran = random.random()

print("The random number is", ran)

The random number is 0.8829717366804933

69) How will you set the starting value in generating random numbers?

If we want to generate random numbers with a specific start value, then we'll use RANDINT() method from RANDOM module.

In [65]:
#ANSWER 69 -:

import random

r = random.randint(25, 1008)        #setting the start value as well as the range to generate randum numbers
r

r1 = random.randint(10,100**10)     #giving a range close to inifnity by assigning exponentiation operator
r1

59796855410747972879

70) How will you randomize the items of a list in place?

To randomize the list sequence, SHUFFLE() from RANDOM Module is used.

In [67]:
#ANSWER 70

l = [5, 9, 12, 23, 30 ,34, 39, 49, 64, 72, 87, 99]

random.shuffle(l)        #randomize the original list
l

[49, 39, 99, 9, 5, 64, 23, 30, 34, 87, 72, 12]

71) What is File function in python? What are keywords to create and write file.

ANSWER 71 -:

- File function are used to handle various types of file formats in python.
- There are various methods to manipulate the files in python
- The files that are not saved to the specific location and are store in temporary content folder are deleted once the session is closed or restarted.
- Always create files when session restarts, if not sotred in the permanent sotrage
- File handling and specifically "CREATE" and "WRITE" is done through keywords :: 'x' & 'w'
- "x" is used to create a new file if not there, and replaces the if one esixts.
- "w" allows to insert content into the file.

In [4]:
#ANSWER 71 -:

f = open("trial.txt","x") #create a non-existent file OR checks for an existing file and displays error if the file already exists

## Since the file is already created by me, this code will display error stating file already exists ##

f = open("trial.txt","w")    #writing content into created file or existing file
f.write("This is the trial file.\n All the file executions will be done in this file.\n ~Jayani Joshi")

# Always open the file in the required mode after completing previously applied mode, before execution
f = open("trial.txt","r")
print(f.read())

## In the output of the write funcion, after execution, total number of character written in the code will be displayed. ##

This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi

72) Write a Python program to read an entire text file.

In [5]:
f = open("trial.txt", "r")       #assigning the keyword to handle the specified file
print(f.read())

This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi

73) Write a Python program to append text to a file and display the text.

In [6]:
#ANSWER 73 -:

#OPTION 1 :: Using "append" method

f = open("trial.txt", "a")
f.write("\n \t Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.")

f = open("trial.txt", "r")
print(f.read())

#OPTION 2 :: Using "Writelines" method

f = open("trial.txt", "a")
f.writelines(["\nThis is done using 'WRITLINES method. Check out the result"])

f = open("trial.txt", "r")
print(f.read())

This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi
 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.
This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi
 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.
This is done using 'WRITLINES method. Check out the result

74) Write a Python program to read first n lines of a file.

In [7]:
#ANSWER 74 -:

fl = open("trial.txt", "r")
n = 5

for i in range(n):
    line = fl.readline()             #file method used to get the contents from file for specific number of lines
    print(line)

This is the trial file.

 All the file executions will be done in this file.

 ~Jayani Joshi

 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.

This is done using 'WRITLINES method. Check out the result

75) Write a Python program to read last n lines of a file.

In [9]:
#ANSWER 75 -:

fl = open("trial.txt", "r")
n = 2

for i in (fl.readlines() [-n:]):         #using reverse slicing with file method to get the last lines from file
    print(i)

 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.

This is done using 'WRITLINES method. Check out the result

76) Write a Python program to read a file line by line and store it into a list

In [10]:
#ANSWER 76 -:

f_list = open("trial.txt", "r")
lst = []             #creating an empty list

for i in f_list:
  lst.append(i)            #appending the file content to empty list

print(lst)

['This is the trial file.\n', ' All the file executions will be done in this file.\n', ' ~Jayani Joshi\n', " \t Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.\n", "This is done using 'WRITLINES method. Check out the result"]

77) Write a Python program to read a file line by line store it into a variable.

In [11]:
#ANSWER 77 -:

f = open("trial.txt", "r")

fv = f.read()      #storing the file in a temp variable
print(fv)

This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi
 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.
This is done using 'WRITLINES method. Check out the result

78) Write a python program to find the longest words.

In [12]:
#ANSWER 78 -:

words = ["alpha","omega","up","down","over","under","purple","red","blue","green","meringue"]

length = len(words)     #extracting length of the items in the list
length

longest_word = max(words, key=len)    #checking longest word in list using 'len' parameter
print("The longest word in the list is", longest_word)

The longest word in the list is meringue

79) Write a Python program to count the number of lines in a text file.

In [13]:
#ANSWER 79 -:

f = open("trial.txt", "r")
count = 0

for i in f :       #initiating loop through the file
  count += 1     #count the lines in the file

print("The file has total", count, "lines")

## TO check if our ouput is correct for total lines, execute the code used to display the n lines of the file.

The file has total 5 lines

80) Write a Python program to count the frequency of words in a file.

In [14]:
#ANSWER 80 -:

f = open("trial.txt", "r")

fd = {}     #creating empty dictionary

for word in f :
  keys = word.split()      #spliting each line word-by-word

  for i in keys :   #staring loop thorugh each word
    if i in fd :
      fd[i] += 1    #storing each word in empty dictionary
    else :
      fd[i] = 1

print(fd)

{'This': 2, 'is': 2, 'the': 4, 'trial': 1, 'file.': 2, 'All': 1, 'file': 1, 'executions': 1, 'will': 1, 'be': 1, 'done': 2, 'in': 1, 'this': 1, '~Jayani': 1, 'Joshi': 1, 'Task': 1, 'for': 2, 'Q73': 1, '-': 1, 'Appending': 1, 'texts': 1, 'using': 2, 'append': 1, 'keyword': 1, "'a'": 1, '1st': 1, 'Option.': 1, "'WRITLINES": 1, 'method.': 1, 'Check': 1, 'out': 1, 'result': 1}

81) Write a Python program to write a list to a file.

In [16]:
#ANSWER 81 -:

lst = ["Name", "file", "for", "Assignment", "questions"]       #creating list to append in the file

f = open("trial.txt", "a")    #assigning append keyword
f.write(str(lst))            #converting and writing list to file (without conversion to stirng an "ERROR" will be displayed)

f = open("trial.txt", "r")    #reading the file
print(f.read())

#### DELETING THE FILE FROM THE MOUNT
"""
import os

file_name = "trial.txt"

# Delete the file in the current working directory
os.remove(file_name)

print(f"File '{file_name}' deleted successfully.")
"""

File 'trial2.txt' deleted successfully.

82) Write a Python program to copy the contents of a file to another file.

In [17]:
#ANSWER 82 -:

f2 = open("trial2.txt","x")       #crating the new file to inser the content from parent file
f2.write("This is the copy of 'trial.txt named' file.")  #writing some content into new file.

f = open("trial.txt", "r")

f2 = open("trial2.txt", "a")   #assigning append action

for c in f :     #starting the loop to copy content
  f2.write(c)

f2 = open("trial2.txt", "r")
print(f2.read())      #reading the newly created file

This is the copy of 'trial.txt named' file.This is the trial file.
 All the file executions will be done in this file.
 ~Jayani Joshi
 	 Task for Q73 - Appending texts using the append keyword 'a' for 1st Option.
This is done using 'WRITLINES method. Check out the result['Name', 'file', 'for', 'Assignment', 'questions']

83) Explain Exception handling? What is an Error in Python?

ANSWER 83 -:

♦ **ERROR** in python is a warning, that something in the program is incomplete or incorrectyl applied.

**Types of Errors in Python**

1. Syntax Error : Occurs when expresion is incomplete without n ending
Missing colon in function definition
if n > 10
    print(n)

2. Value Error : Occurs when the correct arguement is provided with wron values
Trying to convert non-numeric string to integer
int("apple")

3. Index Error : Raised when the indices are out of index range
Accessing out-of-range index
my_list = [1, 2, 3]
print(my_list[5])

4. Type Error : Occurs when operation if perfomed with wrong data type
Adding string and integer
sum = "10" + 5

5. Name Error : Displays when the execution doesn't have assigned/defined name
Using a variable that hasn't been defined
print(score)

6. Attribute Error : When a method is called on an object which doesn't have it.
Trying to use an undefined method on an object
num = 10
num.append(5)

♦ **EXCEPTION** in the code arises when the code is logically corect but it raises an error while executing. In these scenarios, the program are syntaxically correct.


**HANDLING EXCEPTIONS**

- Exception in python program are handled using *Try | Except | Else* concepts.
- **TRY** predicts and test the possible error that can be encountered during the execution. **EXCEPT** will tackle the error expected to occur during the program. **ELSE** will allow to execute the code further and continue if there are no exceptions or error encountered.

  ***PROCESS OF EXCEPTION HANDLING USING TRY-EXCEPT-ELSE***
  1. First "TRY" clause will be executed in the code.
  2. If no error occurs then only TRY run and "EXCEPT" won't take any action.
  3. By chance if any exception is encountered, then *EXCEPT* statement will be executed.
  4. If he error persists, then the *TRY* will be executed, and still not solved then the code will be stopped from proceeding further.

84) How many except statements can a try-except block have? Name Some built-in exception classes:

ANSWER 84 -:


- A try statement can have more than one except clause.

85) When will the else part of try-except-else be executed?

ANSWER 85 -:

***EXECUTION OF ELSE BLOCK***

**ELSE** will allow to execute the code further and continue if there are no exceptions or error encountered.

86) Can one block of except statements handle multiple exception?

ANSWER 86 -:

Yes, The except block can have many condition, to specify handlers for different exceptions. But one handler can only tackle on exception.

87) When is the finally block executed?

ANSWER 87 -:

The ***FINALLY*** block is executed when the code has passed through the TRY and EXCEPT blocks sucessfully. Or when the code is terminated even after going throught TRY and EXCEPT execution.

88) What happens when „1‟== 1 is executed?

ANSWER 88 -:

This code would display a syntax error as the quatations are positioned in a wrong way and the code won't continue further.

In [18]:
#ANSWER 88 -:

,,1"==1

"""Correct Input to get Boolean Output -:"""
"1"==1     #Output : False

"1"=="1"    #Output : True

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-18-257fceabac78>, line 3)

89) How Do You Handle Exceptions with Try/Except/Finally in Python? Explain with coding snippets.

In [8]:
#ANSWER 89 -:

"""Trying to perform the division with handlng possible exceptions."""

number = input("Enter a number : ")    #user input for numbers
divisor = input("Enter a divisor : ")

try :
  answer = number / divisor       #passing one try code

except ZeroDivisionError :                             #listing possible exceptions
  print("Errrr....you're dividing the number with Zero")
except TypeError :                                 #due to invalid user input
  print("Duh.....strings can't be divided.")
finally :
  print("Finally, The answer is", answer)               #final statement if the conditions are sorted or true in first place

Enter a number : 12
Enter a divisor : 2
Duh.....strings can't be divided.

NameError: name 'answer' is not defined

90) Write python program that user to enter only odd numbers, else will raise an exception.

In [7]:
#ANSWER 90 -:

u_input = int(input("Enter an odd number : "))

if u_input %2 != 0 :    #chekcs if the number is odd before using it
  print(u_input)

else :
  print("Invalid number")   #ends the cycle if not an odd number1

Enter an odd number : 212
Invalid number

##REFERENCES -:

1. https://www.w3schools.com/python/python_ref_file.asp
2. https://www.w3schools.com/python/python_ref_string.asp
3. https://www.w3schools.com/python/python_ref_list.asp
4. https://www.w3schools.com/python/python_ref_set.asp
5. https://www.w3schools.com/python/ref_dictionary_values.asp
6. https://www.w3schools.com/python/python_ref_tuple.asp
7. https://www.w3schools.com/Python/module_random.asp
8. https://www.w3schools.com/python/default.asp
9. https://www.geeksforgeeks.org/python-programming-language-tutorial/
10. https://docs.python.org/3/tutorial/errors.html#